In [ ]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")

In [ ]:
df.head() # top 5 rows

In [ ]:
df.shape # count of row and column

In [ ]:
df.columns # columns name list

In [ ]:
df.isna() # find columns with na value

In [ ]:
new_df = df.dropna() # drop na value and create new data set
new_df.tail() # return last n rows default to 5

In [37]:
new_df["Starting Median Salary"].max() # find highest salary
idx = new_df["Starting Median Salary"].idxmax() # find index of highest salary
new_df["Undergraduate Major"].loc[idx] # loc for location
# new_df["Undergraduate Major"].[idx] # same as above
new_df.loc[idx] # entier row

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [38]:
idx = new_df["Mid-Career Median Salary"].idxmax()
new_df.loc[idx]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [41]:
idx = new_df["Starting Median Salary"].idxmin()
new_df.loc[idx]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [43]:
spread_col = new_df['Mid-Career 90th Percentile Salary'].subtract(new_df['Mid-Career 10th Percentile Salary'])
new_df.insert(1, 'Spread', spread_col)
new_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [44]:
low_risk = new_df.sort_values('Spread')
low_risk[['Undergraduate Major', "Spread"]].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [46]:
highest_sort = new_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_sort.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [50]:
new_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [51]:
# new_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]